.npmignore
node_modules/
.npmrc
.DS_Store
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
config/
littleproxy*
log.txt
logs/
lib/
project/project
/target
*/target
var/
data-templates/src/main/codegen/
.gradle
**/mainGeneratedRest
**/mainGeneratedDataTemplate

/bower_components/
/dist
*/dist
tmp
*/tmp
.sass-cache/
/connect.lock
*/connect.lock
/coverage/*
*/coverage/*
*.log
